.search-button {
  display: flex;
  justify-content: center;
}
.search-button button {
  padding: 10px 21px;
  background: royalblue;
  color: rgba(255,255,255, 0.75);
  cursor: pointer;
  transition: color 0.2s ease-out;
}

.search-button button:hover {
  color: white;
}
