.selection {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.selection label {
  margin-bottom: 20px;
  color: #888;
  font-size: 0.8rem;
}

.selection select {
  max-width: 150px;
}
