.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
	background: black;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

span, li {
	color: white;
}

.menu {
	display: flex;
}

.menu li {
	margin-left: 10px;
	list-style-type: none;
}

.search-area span{
	margin-right: 10px;
}

input {
	line-height: 30px;
	border: 0;
}
